<footer class="site-marketing">
	<div class="wrapper">
		<div class="bordered">
			<script async id="_ck_190685" src="https://forms.convertkit.com/190685?v=6"></script>
		</div>
	</div>
</footer>

<footer class="site-footer">
	<div class="wrapper">
		<div class="bordered">
			<p class="links">
				<a href="mailto:{{ site.email }}">{{ site.email }}</a>
				- <a href="http://twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a>
				- <a href="{{ site.source_url }}">Source</a>
			</p>
		</div>
	</div>
</footer>

{% if jekyll.environment == "production" %}
	<script type="text/javascript">
		var _gauges = _gauges || [];
		(function() {
			var t   = document.createElement('script');
			t.type  = 'text/javascript';
			t.async = true;
			t.id    = 'gauges-tracker';
			t.setAttribute('data-site-id', '56da837b4b2ffa43a8000847');
			t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
			t.src = 'https://d36ee2fcip1434.cloudfront.net/track.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(t, s);
		})();
	</script>
{% endif %}
