<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
		<header class="site-header">
			<div class="wrapper">
				<h1 class="site-title">
					<a href="{{ site.baseurl }}/">{{ site.title }}</a>
				</h1>
				<nav class="site-nav">
					<a class="page-link" href="{{ site.blog_url }}">Blog</a>

					{% for my_page in site.pages %}
						{% if my_page.title %}
							<a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title | downcase }}</a>
						{% endif %}
					{% endfor %}

					<a class="page-link" href="{{ site.rack_bootcamp_landing_page }}">Rack Bootcamp</a>

					<a class="page-link" href="{{ site.bash_bootcamp_landing_page }}">Bash Bootcamp</a>
				</nav>
			</div>
		</header>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

		{% include footer.html %}
  </body>
</html>
