body {
	padding: 60px 0;
}

.site-header {
	margin-bottom: $spacing-unit;

	.site-title {
		text-align: center;
	}

	&.small {
		margin-bottom: $spacing-unit / 3;

		.site-title {
			text-transform: uppercase;
			font-size: 80%;
			font-weight: $base-font-weight * 2;
		}
	}
}

.site-title {
	font-size: $base-font-size * 1.5;
	font-weight: $base-font-weight;
	margin-bottom: $spacing-unit;

	a, a:visited {
		color: $dark-color;
	}
}

.site-nav {
	border-bottom: solid 1px lighten($dark-color, 60%);
	padding-bottom: $spacing-unit / 3;

	a, a:visited {
		color: $brand-color;
		text-transform: uppercase;
		-webkit-transition: color .2s ease;
		-moz-transition: color .2s ease;
		transition: color .2s ease;	
		margin-right: $spacing-unit;
	}
}

.post-list {
	list-style: none;
	margin: 0;
	padding: 0;

	h2 {
		margin-bottom: $spacing-unit / 6;

		a, a:visited, a:hover {
			color: inherit;
		}
	}

	li {
		margin-bottom: $spacing-unit;
	}
}

.post-title {
	font-size: $base-font-size * 1.75;
	margin-bottom: $spacing-unit / 6;
}

.post-content {
	margin-bottom: $spacing-unit;
}

.author-avatar {
	float: left;
	border-radius: 100%;
	margin-right: $spacing-unit / 2;
}

.page-content {
	margin-bottom: $spacing-unit;
}


.site-marketing {
	.bordered {
		border-top: solid 1px lighten($dark-color, 60%);
	}
}

.site-footer {
	font-size: 80%;

	.bordered {
		border-top: solid 1px lighten($dark-color, 60%);
		padding-top: $spacing-unit;
	}

	.links {
		text-align: center;
	}
}

li > p {
	margin-bottom: 0;
}
